extends base

//- block append will INJECT to the end of the block named 'head'
//- block append head
//-   script(src='https://js.stripe.com/basil/stripe.js' defer)

block content
  main.main
    div#checkout
      h1 This is the checkout page!